@model TI_Projeto_Grupo7.Models.ViewsModels.Admin.AdminEditViewModel;

<h1>Edit</h1>

<a href="@Url.Action("table")">Voltar</a>

<form asp-action="EditPendAcc" asp-controller="Admin" method="post">
    @Html.AntiForgeryToken()

    <div>
        <label asp-for="id_accountPending"></label>
        <input asp-for="id_accountPending" />
        <span asp-validation-for="id_accountPending"></span>
    </div>

    <div>
        <label asp-for="id_user"></label>
        <input asp-for="id_user" />
        <span asp-validation-for="id_user"></span>
    </div>

    <div>
        <label asp-for="account_state"></label>
        <input asp-for="account_state" />
        <span asp-validation-for="account_state"></span>
    </div>

    <div>
        <label asp-for="id_worker"></label>
        <input asp-for="id_worker" />
        <span asp-validation-for="id_worker"></span>
    </div>

    <div>
        <label asp-for="motive"></label>
        <input asp-for="motive" />
        <span asp-validation-for="motive"></span>
    </div>

    <button type="submit">Save</button>
</form>
