@model TI_Projeto_Grupo7.Models.ViewsModels.Admin.AdminEditViewModel;

<link href="~/css2/EditPendAcc.css" rel="stylesheet"/>

<h1>Edit</h1>

<form method="post">

    <a href="@Url.Action("table")">Voltar</a>

    <p>ID Pending Account</p>
    <input asp-for="id_accountPending" type="int" />

    <p>ID User</p>
    <input asp-for="id_user" type="text" />

    <p>Account State</p>
    <input asp-for="account_state" type="int" />

    <p>ID worker</p>
    <input asp-for="id_worker" type="text" />

    <div>
        <label asp-for="motive"></label>
        <input asp-for="motive" />
        <span asp-validation-for="motive"></span>
    </div>

    <input type="submit" value="Save" />
</form>
